<a href="stream_setting">setting</a>
<div class="home-slider">
	<div class="promoted-stream">
		<ul>
			<li  class="promoted-stream-item">
				<a  href="{{ frontLive.URL }}">
					<div class="promoted-stream-item-title">
						{{ frontLive.Title }}
					</div>
					<div class="promoted-stream-item-time">
						Start at {{ frontLive.Time }}
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>